.filters {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.btn-div {
  gap: 1rem;
}

.chips{
  padding: 5px;
}

.filter-chip-selected{
  color:var(--secondary-color);
}


.listing-container{
  margin: 3rem;
}